html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    text-align: center;
    flex-direction: column;
    font: 14px Avenir, "Lucida Grande", Helvetica, Arial, sans-serif;
    color: aliceblue;
    margin: 0;
}

a {
    color: #00B7FF;
}

img {
    width: 20.3%;
}

label {
    font-weight: bold;
}

.page_title {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-start;
    font-size: 35px;
    color: #212121;
    height: 22%;
    background-image: linear-gradient(to right top, #323232, #624E5F, #A46776, #DF8876, #FFBA6A, #F9F871);
    border-bottom: #5E4B5B 1px solid;
    border-radius: 2px;
}

.page_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    width: 100%;
}

.main_modal {
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    width: 75%;
    padding: 0.5%;
    align-self: center;
    border-radius: 6px;
}

.page_footer {
    justify-self: flex-end;
}

.pearl {
    color: #212121;
    background-image: linear-gradient(to right top, #212121, #C1C1C1, #00A97F, #373544);
}

.squash {
    color: white;
    background-image: linear-gradient(to right top, #212121, #413425, #413425, #023D43, #023D43);
}

.second_grid {
    width: 50%;
    margin: 0.3% 2% 1%;
    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.third_grid {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
    flex-direction: column;
    text-align: right;
}

.movie_title {
    font-size: 30px;
}

.movie_description, .movie_release_date, .adult {
    font-size: 16px;
}

.movie_title, .movie_description {
    margin: 0;
}

.adult {
    color: antiquewhite;
    border: none;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.contact {
    display: flex;
    align-items: center;
}

.adult, .movie_language {
    border-radius: 6px;
    padding: 6px;
    background-color: black;
    color: white;
}

.hide {
    opacity: 0;
}

.show {
    opacity: 1;
}

.pop_line {
    background: #D198C5FF;
    border-radius: 3px;
    width: 5px;
    height: 20px;
    float: left;
    margin: 3px;
}

.pop_line.active {
    background: #E0C568FF;
}

.popularity_modal {
    display: flex;
    align-items: center;
}

.refresh {
    background-color: transparent;
    border: none;
}

.fa-refresh {
    font-size: 20px;
    color: #fbd1c3;
}

.fa-refresh:hover {
    color: darkorange;
}

.fa-tv {
    align-self: center;
    font-size: 26px;
    color: red;
}

.tv_shows {
    text-align: center;
    align-self: center;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 5.3%;
    border: none;
    border-radius: 5px;
    font-size: 27px;
    padding: 6px;
    background-image: linear-gradient(to right, #e1f191, #e1f191, #c5f5a1, #a9f7b5, #90f8ca, #7cf7df);
    color: #212121;
    box-shadow: 2px 2px 8px 2px gray;
}

.tv_shows:hover {
    box-shadow: 1px 1px 5px 1px #212121;
    cursor: pointer;
}

.tv_shows:focus {
    outline: none;
}

.refresh:focus {
    outline: none;
}

.refresh:hover {
    cursor: pointer;
}

.first_background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.second_background {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #212121;
    z-index: -1;
    opacity: 0.5;
}

.movie_genres {
    padding: 0.3%;
    font-weight: bolder;
}