html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    text-align: center;
    flex-direction: column;
    font: 14px Avenir, "Lucida Grande", Helvetica, Arial, sans-serif;
    color: aliceblue;
    margin: 0;
}

a {
    color: #00B7FF;
}

img {
    width: 20%;
}

label {
    font-weight: bold;
}

.page_title {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-start;
    font-size: 30px;
    color: #212121;
    height: 20%;
    background-image: linear-gradient(to right top, #323232, #624E5F, #A46776, #DF8876, #FFBA6A, #F9F871);
}

.page_content {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right top, #212121, #212121);
    height: 80%;
    width: 100%;
}

.main_modal {
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    width: 70%;
    padding: 0.5%;
    align-self: center;
    border-radius: 6px;
}

.page_footer {
    justify-self: flex-end;
}

.pearl {
    color: #212121;
    background-image: linear-gradient(to right top, #212121, #C1C1C1, #00A97F, #373544);
}

.squash {
    color: white;
    background-image: linear-gradient(to right top, #212121, #413425, #413425, #023D43, #023D43);
}

.second_grid {
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    width: 50%;
}

.third_grid {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
    flex-direction: column;
    text-align: right;
}

.movie_title {
    font-size: 30px;
}

.movie_description, .movie_release_date, .adult {
    font-size: 16px;
}

.movie_title, .movie_description {
    margin: 0;
}

.adult {
    color: antiquewhite;
    border: none;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.contact {
    display: flex;
    align-items: center;
}

.adult, .movie_language {
    border-radius: 6px;
    padding: 6px;
    background-color: black;
    color: white;
}

.hide {
    opacity: 0;
}

.show {
    opacity: 1;
}

.pop_line {
    background: #D198C5FF;
    border-radius: 3px;
    width: 5px;
    height: 20px;
    float: left;
    margin: 3px;
}

.pop_line.active {
    background: #E0C568FF;
}

.popularity_modal {
    display: flex;
    align-items: center;
}

.refresh {
    background-color: transparent;
    border: none;
}

.fa-refresh {
    font-size: 20px;
    color: #fbd1c3;
}
.fa-refresh:hover{
    color:darkorange;
}

.refresh:focus {
    outline: none;
}

.refresh:hover {
    cursor: pointer;
}