html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    text-align: center;
    flex-direction: column;
    font: 14px Avenir, "Lucida Grande", Helvetica, Arial, sans-serif;
    color: aliceblue;
    margin: 0;
}

a {
    color: #00B7FF;
}

img {
    width: 20%;
}

label {
    font-weight: bold;
}

.page_title {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-start;
    font-size: 30px;
    color: #212121;
    height: 20%;
    background-image: linear-gradient(to right top, #323232, #624E5F, #A46776, #DF8876, #FFBA6A, #F9F871);
}

.page_content {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right top, #212121, #212121);
    height: 80%;
    width: 100%;
}

.main_modal {
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    width: 70%;
    padding: 0.5%;
    align-self: center;
    border-radius: 6px;
}

.page_footer {
    justify-self: flex-end;
}

.pearl {
    color: #212121;
    background-image: linear-gradient(to right top, #212121, #C1C1C1, #00A97F, #373544);
}

.squash {
    background-image: linear-gradient(to right top, #212121, #413425, #413425, #023D43, #023D43);
}

.second_grid {
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    width: 50%;
}

.third_grid {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: center;
    text-align: right;
}

.movie_title {
    font-size: 30px;
}

.movie_description, .movie_release_date, .adult {
    font-size: 16px;
}

.movie_title, .movie_description {
    margin: 0;
}

.adult {
    color: antiquewhite;
    border: none;
}

.movie_language {
    background-color: black;
    color: white;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.contact {
    display: flex;
    align-items: center;
}

.backgroundOne {
    position: absolute;
    background-size: contain;
    z-index: -2;
}

.backgroundTwo {
    position: absolute;
    background-image: linear-gradient(to right top, #212121, #212121);
    z-index: -1;
    width: 100%;
    height: auto;
    max-width: 100%;
}
