.page_title {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-start;
    font-size: 35px;
    color: #212121;
    height: 22%;
    background-image: linear-gradient(to right, #e1f191, #e1f191, #c5f5a1, #a9f7b5, #90f8ca, #7cf7df);
    border-bottom: #95F6CF 1px solid;
    border-radius: 2px;
}

.pearl {
    color: #212121;
    background-image: linear-gradient(to right top, #9DF5CA, #9DF5CA, #C6BBFF, #C6BBFF, #F7BD6C, #F7BD6C);
}

.squash {
    color: #212121;
    background-image: linear-gradient(to right top, #E4F18F, #E4F18F, #FFC89E, #FFC89E, #F5916A, #F5916A);
}

.second_grid {
    width: 70%;
    margin: 0.3% 2% 1%;
    text-align: left;

    display: flex;
    flex-direction: column;
}

.show_title {
    font-size: 30px;
}

.show_release_date {
    align-self: flex-end;
}

.second_background {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #D1F49B;
    z-index: -1;
    opacity: 0.2;
}

.show_description {
    max-height: 35%;
    overflow: scroll;
    text-overflow: ellipsis;
}

.show_genres {
    padding: 0.2%;
    font-weight: bolder;
}

.movies {
    text-align: center;
    align-self: center;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 7%;
    border: none;
    border-radius: 5px;
    font-size: 27px;
    padding: 6px;
    background-image: linear-gradient(to right top, #624E5F, #A46776, #DF8876, #FFBA6A, #F9F871);
    color: #212121;
    box-shadow: 2px 2px 8px 2px gray;
}

.check:checked ~ .track {
    box-shadow: inset 0 0 0 20px #B5F6AB;
}

.check:checked ~ .switch {
    background-image: linear-gradient(to right top, #323232, #624E5F, #A46776, #DF8876, #FFBA6A, #F9F871);
}

.toggle {
    background-color: #7C5868;
}

.switch {
    background-image: linear-gradient(to right, #e1f191, #e1f191, #c5f5a1, #a9f7b5, #90f8ca, #7cf7df);
}
